*.pyc
project.lock.json
bin/
obj/
# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IDE files
.idea/
.project
.classpath
.settings/
.vscode/

# OS Specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*~
*.tmp